
<launch>
	<!-- ========================================================== -->
	<!-- Launch everything needed                                   -->
	<!-- ========================================================== -->

    <arg name="onboard_port" 	    default="/dev/USB1"  />
    <arg name="onboard_topic" 	    default="trisonica"  />
	<node name="onboard_trisonica"  pkg="trisonica_ros"   type="trisonica_usb.py"  required="true"	>
	    <param name="port"      type="string"   value="$(arg onboard_port)"     />
	    <param name="topic"     type="string"   value="$(arg onboard_topic)"    />
    </node>

</launch>